In [1]:
#first import pandas library to convert dataset into dataframe
import pandas as pd 
df=pd.read_csv("C:/Users/92309/Desktop/Machine Learning Projects/Linear Regression Projects/Predict Market Stock Price/Experience-Salary.csv")
df.head(5)

   exp(in months)  salary(in thousands)
0       18.290293             16.521825
1       17.023407             11.666234
2       26.343613             23.167255
3       19.105834             20.877145
4       27.742516             23.166236

In [2]:
#first check all coloumns missing values
df.isnull().sum()

exp(in months)          0
salary(in thousands)    0
dtype: int64

In [12]:
X=df['exp(in months)'].values
y=df['salary(in thousands)'].values
X=X.reshape(-1,1)

In [13]:
#now import linear regression model and train test split function or r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [14]:
#split the data set into test and 
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
#also check the shape of X_train samples and y_train samples both are same
print(X_train.shape)
print(y_train.shape)

(800, 1)
(800,)

In [15]:
#now load model train and predict AND find r2 score 
reg=LinearRegression()
reg.fit(X_train,y_train)
print("model train successfully ")

model train successfully

In [16]:
y_pred=reg.predict(X_test)
r2=r2_score(y_test,y_pred)
print("R2 score of this Linear Regression Model is : ",r2)

R2 score of this Linear Regression Model is :  0.6208258933084713